
.product-form {
    padding: 0;
    border-radius: 8px;
    width: 700px;
    margin: 0 auto;

}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}


.required {
    background-color: #ff4444;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.multiple-select {
    background-color: #666;
    color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}


.form-input, .form-textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-textarea {
    resize: vertical;
    min-height: 120px;
}


.checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    width: auto;
}


.form-actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 50%;
}

.button-submit {
    background-color: #f4c430;
    color: white;
    width: 120px;
}

.button-submit:hover {
    background-color: #e6b12d;
}

.button-back {
    background-color: #6c757d;
    color: white;
    width: 120px;
    text-align: center;
    margin: 0;

}

.button-back:hover {
    background-color: #5a6268;
}


